/* Estilo para a página do projeto */

.img_position{
	display: flex;
    justify-content: center;
    align-items: center;
    width:100%;

}

.projeto_img{
	display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    width:50%;
    height:70%;

}

.titulo{
	display: flex;
	justify-content: center;
	font-family: 'Righteous', cursive;
	font-size: 1.5rem;
}


.cor_fundo{
	background-color: #949494
}

.title{
	display: none;
}




@media(max-width: 68rem){

	.image_position{
		display: flex;

	}
	.title{

		display: flex;
		justify-content: center;
	}

	

	.projeto_img{

		display: flex;
        justify-content: center;
        align-items: center;
        width:75%;


	}

	.titulo{
		 justify-content: center;
        font-family: 'Righteous', cursive;
        font-size: 1.5rem;
	}

	
	.cor_fundo{
		background-color: #949494
	}
}