



.img_place{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
}
.trab_big_image{
	margin: 0.5rem;
	width: 50%;
	height: 50%;


}

.legenda_trab{ 
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	font-family:'Hepta Slab', serif;
	font-size: 1rem;
}



@media (max-width: 68rem){
	.trab_menu{
		display: grid;
		margin-top: 2rem;
		grid-template-columns: 1fr;
		grid-template-rows:  23% 23% 23% 23% 8%;


	}

	.img_place{
		display: flex;
		justify-content: center;
		align-items: center;
		width:100%;
	}
	.trab_big_image{
		margin: 0.5rem;
		width: 50%;
		height: 50%;


	}

	.legenda_trab{ 
		display: flex;
		justify-content: center;
		margin-top: 1rem;
		font-family:'Hepta Slab', serif;
		font-size: 1rem;
	}

	.trab_menu_item{

		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		width: 1fr;
		height: 1fr;
		background-color: #092640;
		color: #3999bf;


	}
	.trab_menu_item{
		grid-row-start:auto;
		grid-column-start: auto;


	}

	}
	.trab_menu_image{
		height: 50%;
		width:100%;
	}

	.trab_menu_title{
		display: flex;
		justify-content: center;
		font-family: 'Righteous', cursive;
		font-size: 1.5rem;

	}
	.trab_menu_text{
		display: flex;
		margin: 0.25rem;
		font-family:'Hepta Slab', serif;
		font-size: 0.75rem;
		padding: 0.5rem;
		line-height: 1.5;
	}

	.cor_fundo{
		background-color: #949494
	}

}